<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/dist/bigStyle.css">
    <link rel="stylesheet" href="../style/dist/styleProf.css">
    <link rel="stylesheet" href="../style/dist/ConAbFor.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/dist/media.css">
    <link rel="icon" href="../images/3600967.svg" type="">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Portfolio</title>
</head>

<body>

    <div class="men ">

        <div class="header">

            <div class="navigation" >
                <div class="logo">
                    <img src="https://www.flaticon.com/svg/static/icons/svg/141/141850.svg" alt="logo-wolf">
                </div>
                <ul class="navigation__line navbar">
                    <li><a class="btn btn-danger home" href="#" role="button">HOME</a></li>
                    <li><a class="btn btn-primary about" href="#" role="button">ABOUT</a></li>
                    <li><a class="btn btn-primary contact" href="#" role="button">CONTACT</a></li>
                    <li><a class="btn btn-primary blog" href="#" role="button">BLOG</a></li>
                </ul>

                <div class="minNavbar">
                    <ul >
                        
                        <li><img class="minNavbarIMG minNavbarIMG2 " src="https://www.flaticon.com/svg/static/icons/svg/1053/1053213.svg" alt=""></li>
                        <div class="minNavbarMenu">
                            <ul>   
                                <li><a class="home1 " href="#" role="button">HOME</a></li>
                                <li><a class="about1 " href="#" role="button">ABOUT</a></li>
                                <li><a class="contact1 " href="#" role="button">CONTACT</a></li>
                                <li><a class="blog1 " href="#" role="button">BLOG</a></li>
                            </ul>     
                        </div>
                    </ul>
                </div>
            </div>
        </div>



<!--HOME-->

        <!--Основная информация при нажатии и при загрузке страницы-->
        <div class="men__body" style="display: flex; ">
            <div class="men__minBody">
                <div class="men__block ">
                    <div class="myName1">
                        <p>Hello!</p>

                    </div>
                    <div class="myName2">
                        <p>My name is Vladimir.</p>

                    </div>
                    <div class="myName3">
                        <p> I'm 27 years old.</p>
                        <p> I started programming and creating websites.</p>

                    </div>
                    <div class="myName4">
                        <p>Every day I try to learn something new and interesting in the world of IT</p>
                    </div>
                </div>

            </div>
        </div>


                <!--Картинки в большом количестве-->
                <div class="saitBar">
                    <div class="saitBarContent blockjson1" name = "1">
                    </div>
                    <div class="saitBarContent blockjson2" name = "2">
                    </div>
                    <div class="saitBarContent blockjson3" name = "3">
                    </div>
                    <div class="saitBarContent blockjson4" name = "4">
                    </div>
                    <div class="saitBarContent blockjson5" name = "5">
                    </div>
                    <div class="saitBarContent blockjson6" name = "6">
                    </div>
                    <div class="saitBarContent blockjson7" name = "7">
                    </div>
                    <div class="saitBarContent blockjson8" name = "8">
                    </div>
                    <div class="saitBarContent blockjson9" name = "9">
                    </div>
            </div>
    




<!--About-->
            <div class="men__body2" style="display: none;" >
                <div class="men__minBody2">
                    <div class="men__block2 ">
                        <div class="myName1">
                            <p>I'm 27 years old.</p>
                        </div>
                        <div class="myName2">
                            <p>Now i live in Russia.</p>
                        </div>
                        <div class="myName3">
                            <p> Like to create new programs.</p>
                        </div>
                        <div class="myName4">
                            <p> I write in HTML, PUG, CSS, SCSS, JS. I am familiar with Vue.js and PHP</p>
                        </div>
                    </div>

                </div>
            </div>


<!--ABOUT блок после основного-->

            <div class="saitBarAbout" style="display: none;">
                <div class="saitBarAbotContent">
                    <h4 class="saitBarAboutTitle _anim-items _anin-no-hide">Рассказы</h4>
                    <div class=" menContentAbout">
                        <ul class="list__items ">
                            <ul class="list__item _anim-items ">
                                <li><h5 class="">Джейн Орвис</h5></li>
                                <li><h6>Окно</h6> </li>
                                <li>С тех пор, как Риту жестоко убили, Картер сидит у окна.</li>
                                <li>Никакого телевизора, чтения, переписки. Его жизнь — то, что видно через занавески.</li>
                                <li>Ему плевать, кто приносит еду, платит по счетам, он не покидает комнаты.</li>
                                <li>Его жизнь — пробегающие физкультурники, смена времен года, проезжающие автомобили, призрак Риты.</li>
                                <li>Картер не понимает, что в обитых войлоком палатах нет окон.</li>
                                <hr>
                            </ul>
                        </ul>
                    </div>
                    
                    <div class="menContentAbout">
                        <ul class="list__items ">
                            <ul class="list__item _anim-items ">
                                <li><h5>Чарльз Энрайт</h5></li>
                                <li> <h6>Призрак</h6></li>
                                <li>Как только это случилось, я поспешил домой, чтобы сообщить жене печальное известие.  Она вообще меня не замечала. </li>
                                <li>Но она, похоже, совсем меня не слушала.</li>
                                <li>Она посмотрела прямо сквозь меня и налила себе выпить. Включила телевизор.</li>
                                <li>В этот момент раздался телефонный звонок. Она подошла и взяла трубку.</li>
                                <li>Я увидел, как сморщилось её лицо. Она горько заплакала.</li>
                            <hr>
                        </ul>
                    </ul>
                    </div>
                    <div class="menContentAbout">
                        <ul class="list__items ">
                            <ul class="list__item _anim-items ">
                                <li><h5>Брайан Ньюэлл</h5></li>
                                <li><h6> Чего хочет дьявол</h6></li>
                                <li>Два мальчика стояли и смотрели, как сатана медленно уходит прочь. Блеск его гипнотических глаз все еще туманил их головы.</li>
                                <li>
                                    — Слушай, чего он от тебя хотел?</li>
                                <li>
                                    — Мою душу. А от тебя?</li>
                                <li>
                                    — Монетку для телефона-автомата. Ему срочно надо было позвонить.</li>
                                <li>
                                    — Монетку для телефона-автомата. Ему срочно надо было позвонить.</li>
                                <li>
                                    — Хочешь, пойдём поедим?</li>
                                <li>
                                    -Хочу, но у меня теперь совсем нет денег.</li>
                                <li>
                                    — Ничего страшного. У меня полно.</li> 
                                <hr>
                        </ul>
                        </ul>  
                    </div>
                </div>
            </div>
    







<!--Форма  CONTACT-->

        <!--Форма заполнения и оправки на сервер-->
        <div class="men__body1 app" style="display: none;">
            <div class="men__minBody1 body11">
                <div class="forma">
                    <!--Форма заполнения данными-->
                    <form action="/php/send.php" method="POST" class="form" v-on:reset="resetFields"
                        v-on:submit.prevent="submitForm">
                        <div class="formInput">
                            
                            <input :class="classContact" class="form-control _req" name="first_name" v-model="name"
                                type="text" placeholder="Name">
                        </div>
                        <div class="formInput">
                            
                            <input :class="classContact" class="form-control _req" name="first_surname"
                                v-model="surname" type="text" placeholder="Surname">
                        </div>
                        <div class="formInput">
                            
                            <input :class="classContact" class="form-control _req" name="phone" v-model="phone"
                                type="number" placeholder="Phone">
                        </div>
                        <div class="formInput">
                            
                            <input :class="classContact" class="form-control _req _email" name="email" v-model="mail"
                                type="email" placeholder="Email">
                        </div>
                        <div class="formInput">
                            

                            <textarea v-model="messageContact" name="" placeholder="You message"
                                style="padding: 2%;"></textarea>
                        </div>
                        <div class="contactButton">
                            <!---->
                            <!--Кнопки Контактов-->
                            <button type="reset" class="btn btn-primary btn-sm reset">RESET</button>
                            <button type="submit" name="submit" class="btn btn-primary btn-sm submit" href="#">SEND</button>

                        </div>
                    </form>
                </div>
            </div>
            <div class="men__minBody1 bodyTera" >
                <div class="information">
                    <h5>Check your data</h5>
                    <p>You name: {{name}}</p>
                    <p>Your last name: {{surname}}</p>
                    <p>Phone: {{phone}}</p>
                    <p>Email: {{mail}}</p>
                    <p>Message: {{messageContact}}</p>
                </div>
            </div>
        </div>



<!--Блок после блока Contact-->

        <div class="contactBlockMen" >
            <div class="contactBlock  ">
                
            <porduct-display></porduct-display>

            <hr>
            </div>
        </div>












        <!--Мои проекты Blog-->
        <div class="men__body3"  style="display: none;">
            <div class="men__minBody3">
                <div class="men__block3 block3 ">
                    <img src="../images/1.png" alt="" style="width: 100%; height: 100%; border-radius: 50%;">
                </div>
                <div class="men__block3 men__block33" style="background-color: rgb(4, 90, 250);">
                    <h4>My project</h4>
                    <div class="portfolioWeb">
                        <a href="https://twogophers.github.io/formRegistr/">Forma-registration</a>
                        <a href="https://twogophers.github.io/jurnal-Book/ ">Website of the printing house</a>
                        <a href="https://twogophers.github.io/weather/index.html">The weather site is connected to the
                            API</a>
                        <a href="https://twogophers.github.io/goroscop/">Horoscope website</a>
                        <a href="https://twogophers.github.io/sertificate/">Certificates</a>

                    </div>

                </div>
            </div>
        </div>



<!--Vue-Blog-->

<!--Мышки в маленьком размере-->
    <div class="Blog1">
        <div class="Blog">
            <div class="Blog__men" >
                <div class="Blog__mick"><!--Блок картинок-->

                    <div class="Blog__muse mouse11 mous" name = "mouse11" >
                        <img v-bind:src="mouse.imageMouse" :alt="mouse.colorId" >
                        <h5>{{titleBlog}}</h5>
                    </div>
                    <div class="Blog__muse mouse22 mous" name = "mouse22">
                        <img v-bind:src="mouse1.imageMouse1" :alt="mouse1.colorId1" >
                        <h5>{{titleBlog1}}</h5>
                    </div>
                    <div class="Blog__muse mouse33 mous" name = "mouse33">
                        <img v-bind:src="mouse2.imageMouse2" :alt="mouse1.colorId2" >
                        <h5>{{titleBlog2}}</h5>
                    </div>

                </div>
               
            </div>
<hr>
<!--Мышки в большом размере-->
                    <div class="Blog__men countMouse mouse1" >
                         
                        <div class="Blog__img">
                            <img v-bind:src="mouse.imageMouse" :alt="mouse.colorId" >
                            
                        </div>

<!--Отображение картинок мышки-->
                        <div class="Blog__context">
                            <h3>{{titleBlog}}</h3>
                        
                            <ul class="Blog__LIST">
                                <li v-for="detail in details">{{detail}}</li>
                            </ul>
                            <div class="Blog__price">
                                <p v-if="inStock">In Stock</p>
                                <p v-else>Out of Stock</p>
                                <p class="price">Price : {{mouse.price}}$</p>
                            </div>

                            <div class="Blog__context__Color">
                                <ul>
                                    
                                    <li
                                        v-for = "(mouse, index) of mouses"
                                        v-on:click = "selectMouse(index)"

                                        style="list-style-type: none;   cursor: pointer"
                                        
                                        class="list-group-item"
                                        v-bind:class="{'active' : selectedMouseIndex === index}"
                                        >
                                        {{mouse.colorId}}
                                    </li>
                                </ul>
                            </div>
                            <hr>



<!--Корзина и кнопка-->
                            <div class="Blog__context__Color">

<!--Кнопки-->                               
                                    <button class="btn btn-success" v-on:click = "resetaddToMouse()">Reset</button>
                                    <button class="btn btn-success"v-on:click = "addToMouse()">Add Mouse</button>
                                

                                <div class="Blog__context__basket">
                                    <p>Mouse({{cart}})</p>
                                </div>
                            </div>
                        <hr> 

                            </div>
                        </div>    
                      

<!---->

<!--Вторая мышка-->
<div class="Blog__men countMouse mouse2" >
                        
    <div class="Blog__img">
        <img v-bind:src="mouse1.imageMouse1" :alt="mouse1.colorId1" >
        
    </div>

<!--Отображение картинок мышки-->
    <div class="Blog__context">
        <h3>{{titleBlog1}}</h3>
    
        <ul class="Blog__LIST">
            <li v-for="detail1 in details1">{{detail1}}</li>
        </ul>
        <div class="Blog__price">
            <p v-if="inStock">In Stock</p>
            <p v-else>Out of Stock</p>
            <p class="price">Price : {{mouse1.price1}}$</p>
        </div>

        <div class="Blog__context__Color">
            <ul>
                
                <li
                    v-for = "(mouse1, index1) of mouses1"
                    v-on:click = "selectMouse1(index1)"

                    style="list-style-type: none;   cursor: pointer"
                    
                    class="list-group-item"
                    v-bind:class="{'active' : selectedMouseIndex1 === index1}"
                    >
                    {{mouse1.colorId1}}
                </li>
            </ul>
        </div>
        <hr>



<!--Корзина и кнопка-->
        <div class="Blog__context__Color">

<!--Кнопки-->                               
                <button class="btn btn-success" v-on:click = "resetaddToMouse1()">Reset</button>
                <button class="btn btn-success"v-on:click = "addToMouse1()">Add Mouse</button>
            

            <div class="Blog__context__basket">
                <p>Mouse({{cart1}})</p>
            </div>
        </div>
    <hr> 

        </div>
    </div>  

<!--Вторая мышка-->
    <div class="Blog__men countMouse mouse3" >
                            
        <div class="Blog__img">
            <img v-bind:src="mouse2.imageMouse2" :alt="mouse2.colorId2" >
            
        </div>

<!--Отображение картинок мышки-->
    <div class="Blog__context">
        <h3>{{titleBlog1}}</h3>
    
        <ul class="Blog__LIST">
            <li v-for="detail2 in details2">{{detail2}}</li>
        </ul>
        <div class="Blog__price">
            <p v-if="inStock">In Stock</p>
            <p v-else>Out of Stock</p>
            <p class="price">Price : {{mouse2.price2}}$</p>
        </div>

        <div class="Blog__context__Color">
            <ul>
                
                <li
                    v-for = "(mouse2, index2) of mouses2"
                    v-on:click = "selectMouse2(index2)"

                    style="list-style-type: none;   cursor: pointer"
                    
                    class="list-group-item"
                    v-bind:class="{'active' : selectedMouseIndex2 === index2}"
                    >
                    {{mouse2.colorId2}}
                </li>
            </ul>
        </div>
        <hr>



<!--Корзина и кнопка-->
        <div class="Blog__context__Color">

<!--Кнопки-->                               
                <button class="btn btn-success" v-on:click = "resetaddToMouse2()">Reset</button>
                <button class="btn btn-success"v-on:click = "addToMouse2()">Add Mouse</button>
            

            <div class="Blog__context__basket">
                <p>Mouse({{cart2}})</p>
            </div>
        </div>
    <hr> 

        </div>
    </div>  





<!--Добавочный блок с корзиной-->

                    <div>
                        <div class="showList" >
                            <div class="showList__cart cart cartMouse1">
                                <ul>
                                    <h6>Wireless Gaming Mouse №1</h6> 
                                    <li v-for = "(mouse, index) of mouses">
                                        Color    {{mouse.colorId}} : {{mouse.colorMouse}}
                                        
                                    </li>
                                    <hr>
                                    <p >Summa : {{carTotal}}$</p>
                                </ul>
                                
                            </div>

                            <div class="showList__cart cart1 cartMouse2">
                                <ul>
                                    <h6>Wireless Gaming Mouse №2</h6> 
                                    <li v-for = "(mouse1, index1) of mouses1">
                                        Color    {{mouse1.colorId1}} : {{mouse1.colorMouse1}}
                                    </li>
                                    <hr>
                                    <p class="">Summa : {{carTotal1}}$</p>
                                </ul>
                                
                            </div>

                            <div class="showList__cart cart2 cartMouse3">
                                <ul>
                                    <h6>Wireless Gaming Mouse №3</h6> 
                                    <li v-for = "(mouse2, index2) of mouses2">
                                        Color    {{mouse2.colorId2}} : {{mouse2.colorMouse2}}
                                    </li>
                                    <hr>
                                    <p >Summa : {{carTotal2}}$</p>
                                </ul>
                                
                            </div>

                            
                        </div>
                            <div class="summa__total">
                                Summa Total : {{summatotal}}
                                
                            </div>
                        </div>
                    </div>
                </div>  
    </div> 

    <script src="../js/vue.js"> </script>
    <script src="../js/javaStyle.js"> </script>
    <script src="../js/images.js"></script>
    <script src="../js/textAbout.js"></script>
    <script src="../js/Blogvue.js"></script>
    <script src="../js/formBlock.js"></script>
    

</body>

</html>